@import "global";
@media (min-width: 0) {
  .common-animate {
    transition: all 0.5s;
    transition-delay: 0.2s;
    opacity: 0;
  }
  .snap-scroll-visible.common-animate {
    opacity: 1;
  }
  body {
    overflow-x: hidden;
  }
  #header {
    .inner-header {
      nav {
        a {
          .black-logo {
            display: none !important;
          }
        }
      }
    }

    &:not(.common-header) {
      .inner-header {
        nav {
          a {
            .white-logo {
              display: none;
            }
            .black-logo {
              display: block !important;
            }
          }
          .collapse {
            .navbar-nav {
              .nav-item {
                .nav-link {
                  color: #000 !important;
                }
              }
            }
          }
        }
      }
    }

    padding-top: 0px;
    .navbar {
      max-width: 1240px;
      margin: 0px auto;
      .navbar-brand {
        color: #ffffff;
        font-size: 30px;
        line-height: 30px;
        padding: 0px;
        width: 100%;
        max-width: 306px;
      }
      .collapse {
        .navbar-nav {
          justify-content: space-evenly;
          li {
            margin-left: 0px;
            padding: 5px 0px;
            a {
              font-size: 25px;
              color: #ffffff;
              font-family: $i-m;
              letter-spacing: 0.13px;
              padding: 0px;
            }
          }
        }
      }
    }
  }

  .home-banner {
    background-color: gray;
    &.banner-new {
      .banner-content {
        p {
          font-size: 27px;
        }
        a {
          color: #fff;
          text-decoration: none;
          margin-top: 44px;
          display: inline-block;
        }
      }
    }
    max-width: 1920px;
    margin: 0px auto;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 75% center;
    .h-line {
      width: 1px;
      background-color: #ffffff1a;
      top: 0;
      bottom: 0;
      z-index: 1;
    }
    .h-line1 {
      left: 10%;
    }
    .h-line2 {
      left: 26%;
    }
    .h-line3 {
      left: 42%;
    }
    .h-line4 {
      right: 42%;
    }
    .h-line5 {
      right: 26%;
    }
    .h-line6 {
      right: 10%;
    }
    .banner-content {
      position: absolute;
      top: 320px;
      max-width: 920px;
      z-index: 9;
      h1 {
        font-size: 88px;
        margin: 0px;
        line-height: 88px;
      }
      p {
        max-width: 657px;
        font-size: 23px;
        line-height: 32px;
        padding-top: 15px;
        margin: 0px;
      }
      .banner-btn {
        font-size: 23px;
        color: #151515;
        padding: 10px 68px;
        display: inline-block;
        background-color: #fff;
        margin-top: 35px;
        text-decoration: none;
      }
    }
    .banner-content-bottom {
      position: absolute;
      bottom: 65px;
      .row {
        .latest-project {
          margin-right: 113px;
        }
        span {
          font-size: 17px;
          font-family: $i-b;
          color: #676767;
        }
        a {
          font-size: 17px;
          font-family: $i-b;
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .sticky-btn {
      right: -32px;
      top: 50%;
      color: #fff;
      transform: rotate(90deg);
      span {
        font-size: 17px;
        font-family: $i-b;
        color: #fff;
      }
    }
  }

  .form-section {
    background-color: #f0f0f0;
    padding-top: 163px;
    padding-bottom: 220px;

    .area-check-form {
      max-width: 1441px;
      margin-top: -70px;
      box-shadow: 7px 7px 35px #00000031;
      background-color: #fff;
      position: relative;
      padding: 94px 45px 70px;
      form {
        .one-fourth {
          width: 20%;
          max-width: 280px;
          .form-group {
            label {
              color: #969696;
              font-size: 15px;
              font-family: "SF-M";
              padding: 0px;
              margin: 0px;
            }
            #province {
              width: 100%;
              border-radius: 0px;
              border-bottom: 3px solid #707070;
              border-top: 0;
              border-left: 0;
              border-right: 0;
              font-size: 20px;
              padding: 5px 0px;
              color: #2c2c2c;
              font-family: "SF-B";
              -webkit-appearance: none;
              -moz-appearance: none;
              -o-appearance: none;
              appearance: none;
              background-image: url("../img/down-arrow.png");
              background-position: 100% center;
              background-repeat: no-repeat;
              outline: none !important;
              option {
                padding: 0px;
                font-family: "SF-B";
              }
            }
          }
          .check-btn {
            padding: 20px 58px;
            background: #404040;
            color: #fff;
            border: 1px solid #707070;
            font-size: 18px;
          }
        }
      }
    }
    .production-history {
      .production-left-part {
        width: 44.5%;
        padding-top: 126px;
        padding-right: 50px;
        h2 {
          font-size: 42px;
          font-family: $sf-h;
          color: #292929;
        }
        p {
          font-size: 23px;
          color: #a2a2a2;
          font-family: "SF-M";
          padding-top: 54px;
        }
        .explore-btn {
          font-size: 29px;
          color: #292929;
          font-family: "SF-SB";
          text-decoration: none;
          margin-top: 100px;
          display: block;
          i {
            font-size: 20px;
            margin-left: 24px;
            font-weight: bold;
          }
        }
      }
      .production-right-part {
        width: 55.5%;
        .w-100 {
          .first-grid {
            width: 49.7%;
            .gal-img {
              margin: 15px 0px;
            }
          }
          .second-grid {
            width: 45%;
            .gal-img {
              margin: 15px 0px;
            }
          }
        }
      }
    }
  }
  .product-history-parallax {
    height: 693px;
    background-position: center center;
    background-size: 100% cover;
    background-repeat: no-repeat;
    .container {
      .parallax-content {
        max-width: 710px;
        padding-top: 159px;
        h2 {
          font-size: 62px;
          color: #fff;
        }
      }
    }
  }
  .product-history-section {
    padding: 173px 0px;
    .row {
      .parallax-content {
        max-width: 550px;
        h2 {
          font-size: 45px;
          color: #292929;
          padding-bottom: 44px;
        }
      }
    }
    .row {
      .product-history {
        .swiper-wrapper {
          .swiper-slide {
            .product-card {
              position: relative;
              box-shadow: 5px 5px 14px #0000001a;
              overflow: hidden;
              .bg-overlay {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: 9;
              }

              .product-card-body {
                .product-image {
                  filter: blur(4px);
                  -webkit-filter: blur(4px);
                }
                .cellular-tower-maintenance {
                  position: absolute;
                  top: 50%;
                  z-index: 999;
                  color: #fff;
                  font-size: 32px;
                  font-family: "SF-SB";
                  transform: translate(0%, -50%);
                  left: 34px;
                }
                span {
                  position: absolute;
                  bottom: 77px;
                  font-size: 20px;
                  font-family: "SF-L";
                  color: #fff;
                  transform: rotate(-90deg);
                  left: -30px;
                }
              }
            }
          }
        }
      }
    }
  }
  .trusted-parteners {
    padding: 100px 0px;
    .container {
      .row {
        .trusted-partener-left {
          width: 37.5%;
          border-right: 3px solid #e6e6e6;
          .content-area {
            padding: 50px 0px;
            h2 {
              font-size: 48px;
              color: #292929;
              font-family: $sf-black;
              margin: 0;
              padding-bottom: 15px;
            }
            p {
              max-width: 409px;
              font-size: 25px;
              font-family: $sf-sb;
              color: #686868;
            }
          }
        }
        .trusted-partener-right {
          width: 62.5%;
          .row {
            padding: 40px 0px;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .dream-furniture {
    padding: 145px 0px;
    .container {
      .dream-furniture-content {
        border-bottom: 3px solid #929394;
        padding-bottom: 38px;
        .content-area {
          max-width: 1378px;
          h3 {
            font-size: 54px;
            color: #292929;
            font-family: $sf-black;
            line-height: 65px;
            margin: 0px;
            span {
              color: #cf7148;
            }
          }
        }
      }
    }
  }
  .container {
    max-width: 1240px;
  }
  .section-2 {
    background-color: #f0f0f0;
    padding-top: 163px;
    padding-bottom: 135px;
    .production-history {
      .production-left-part {
        width: 44.5%;
        padding-top: 126px;
        padding-right: 50px;
        h2 {
          font-size: 68px;
          font-family: $i-eb;
          color: #292929;
        }
        p {
          font-size: 25px;
          color: #a2a2a2;
          font-family: $i-m;
          padding-top: 10px;
        }
        .explore-btn {
          font-size: 29px;
          color: #292929;
          font-family: $i-m;
          text-decoration: none;
          margin-top: 19px;
          display: block;
        }
      }
      .production-right-part {
        width: 55.5%;
        .w-100 {
          .first-grid {
            width: 49.7%;
            .gal-img {
              margin: 15px 0px;
            }
          }
          .second-grid {
            width: 45%;
            .gal-img {
              margin: 15px 0px;
            }
          }
        }
      }
    }
  }
  .what-exactly {
    padding: 145px 0px;
    background-color: #f0f0f0;
    .row {
      .parallax-content {
        h2 {
          font-size: 65px;
          line-height: 79px;
          color: #292929;
          padding-bottom: 9px;
        }
        p {
          font-size: 25px;
          color: #a2a2a2;
          font-family: $i-m;
          padding: 0px 0px 49px 0px;
          margin: 0;
          line-height: 39px;
        }
      }
    }
    .row {
      .product-history-2 {
        .swiper-wrapper {
          margin-bottom: 70px;
          .swiper-slide {
            .product-card {
              position: relative;
              box-shadow: 5px 5px 14px #0000001a;
              overflow: hidden;
              .bg-overlay {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                z-index: 9;
              }

              .product-card-body {
                .product-image {
                  filter: blur(4px);
                  -webkit-filter: blur(4px);
                }
                .cellular-tower-maintenance {
                  position: absolute;
                  top: 50%;
                  z-index: 999;
                  color: #fff;
                  font-size: 32px;
                  font-family: "SF-SB";
                  transform: translate(0%, -50%);
                  left: 34px;
                }
                span {
                  position: absolute;
                  bottom: 77px;
                  font-size: 20px;
                  font-family: "SF-L";
                  color: #fff;
                  transform: rotate(-90deg);
                  left: -30px;
                }
              }
            }
          }
        }
        .swiper-scrollbar.scroll-bar {
          opacity: 1 !important;
          height: 4px;
          .swiper-scrollbar-drag {
            background: #707070;
          }
        }
      }
    }
  }
  .contact-us-main {
    .contact-us-outer {
      .h-line {
        width: 1px;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-color: #0000000d;
      }
      .h-line1 {
        left: 10%;
      }
      .h-line2 {
        left: 26%;
      }
      .h-line3 {
        left: 42%;
      }
      .h-line4 {
        right: 42%;
      }
      .h-line5 {
        right: 26%;
      }
      .h-line6 {
        right: 10%;
      }
      padding-bottom: 65px;
      .container {
        max-width: 1240px;
        .contact-content {
          padding-top: 323px;
          .row {
            .col {
              .contact-us-left-part {
                max-width: 627px;
                h1 {
                  font-size: 90px;
                  font-family: $i-l;
                  line-height: 120px;
                  color: #000;
                  margin: 0px;
                }
                .divider {
                  width: 66px;
                  height: 9px;
                  background-color: #000;
                  margin-top: 26px;
                }
                .contact-description {
                  max-width: 530px;
                  p {
                    font-size: 19px;
                    color: #818181;
                    font-family: $sf-m;
                    margin: 0;
                    padding-top: 41px;
                  }
                }
                .contact-via {
                  margin-top: 79px;
                  p {
                    color: #000;
                    font-family: $i-m;
                    font-size: 17px;
                    margin: 0;
                    line-height: 20px;
                    padding-bottom: 14px;
                    a {
                      color: #000;
                      text-decoration: none;
                    }
                  }
                  p:last-child {
                    padding-bottom: 0px;
                  }
                }
                .timing {
                  max-width: 530px;
                  margin-top: 160px;
                  strong {
                    font-size: 17px;
                    font-family: $i-b;
                    line-height: 20px;
                    text-transform: uppercase;
                  }
                  p {
                    color: #969696;
                    font-size: 17px;
                    font-family: $i-m;
                    line-height: 20px;
                    margin: 0px;
                    padding-top: 7px;
                  }
                }
              }
              .contact-us-right-part-new {
                width: 100%;
                max-width: 615px;
                float: right;
                .stages {
                  .form-details {
                    transition: all 0.3s;
                    &.v-hidden {
                      visibility: hidden !important;
                    }
                    .default-stage {
                      width: 100%;
                      .field {
                        margin-bottom: 40px;
                        label {
                          font-size: 35px;
                          font-family: $i-l;
                          margin: 0;
                        }
                        input {
                          background: transparent;
                          border-top: 0;
                          border-left: 0;
                          border-right: 0;
                          border-bottom: 2px solid #000;
                          font-family: "I-L";
                          font-size: 20px;
                          height: 25px;
                          margin-top: 15px;
                          padding-left: 5px;
                          &:focus-visible {
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            outline: none;
                          }
                        }
                        .interested {
                          -webkit-appearance: none;
                          -moz-appearance: none;
                          appearance: none;
                          padding: 2px 2px 2px 2px;
                          border: none;
                          background: url("../img/down-arrow.png") no-repeat
                            right;
                          border-bottom: 2px solid #000;
                          height: 35px;
                          margin-top: 5px;
                          font-size: 20px;
                          &:focus-visible {
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            outline: none;
                          }
                        }

                        span {
                          color: #000;
                          font-family: $i-l;
                          margin-top: -8px;
                          padding-left: 3px;
                          font-size: 40px;
                        }
                      }
                    }
                    .stage-2 {
                      width: 100%;
                      .field {
                        margin-bottom: 40px;
                        label {
                          font-size: 35px;
                          font-family: $i-l;
                          margin: 0;
                        }
                        input {
                          background: transparent;
                          border-top: 0;
                          border-left: 0;
                          border-right: 0;
                          border-bottom: 2px solid #000;
                          font-family: "I-L";
                          font-size: 20px;
                          height: 25px;
                          margin-top: 15px;
                          padding-left: 5px;
                          &:focus-visible {
                            border-top: 0;
                            border-left: 0;
                            border-right: 0;
                            outline: none;
                          }
                        }
                        select {
                          background: transparent;
                          border-top: 0;
                          border-left: 0;
                          border-right: 0;
                          border-bottom: 2px solid #000;
                          font-family: "I-L";
                          font-size: 20px;
                          height: 25px;
                          margin-top: 15px;
                          padding-left: 5px;
                        }
                        span {
                          color: #000;
                          font-family: $i-l;
                          margin-top: -8px;
                          padding-left: 3px;
                          font-size: 40px;
                        }
                      }
                    }
                    .process {
                      margin-top: 40px;
                      .continue {
                        color: #000;
                        font-size: 35px;
                        font-family: $i-l;
                        text-decoration: underline;
                        cursor: pointer;
                      }
                      .form-submit {
                        color: #000;
                        font-size: 35px;
                        font-family: $i-l;
                        border: none;
                        background-color: transparent;
                        text-decoration: underline;
                        outline: none;
                      }
                    }
                  }
                  .stage-3 {
                    width: 100%;
                    text-align: right;
                    strong {
                      font-size: 35px;
                      color: #000;
                      font-family: $i-m;
                    }
                    p {
                      font-family: $i-l;
                      font-size: 30px;
                      color: #969696;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  #header {
    padding-top: 0px;
    .navbar {
      .collapse {
        .navbar-nav {
          li {
            margin-left: 32px;
            padding: 0px;
          }
        }
      }
    }
  }
  .home-banner {
    height: 650px;
    background-position: center center;
    background-size: auto 100%;
  }
}
@media (min-width: 992px) {
  .home-banner {
    background-position: center center;
    height: 1079px;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1600px) {
  .navbar {
    max-width: 1510px !important;
  }
  .contact-us-outer {
    .container {
      max-width: 1510px !important;
      .contact-content {
        .row {
          .col {
            .contact-us-left-part {
              h1 {
                font-size: 99px;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1920px) {
  .home-banner {
    background-position: center center;
    height: 1079px;
    .container {
      max-width: 1510px;
    }
  }
  .section-2 {
    .production-history {
      .production-left-part {
        h2 {
          font-size: 92px;
        }
      }
    }
  }
  .production-history {
    .production-left-part {
      h2 {
        font-size: 62px;
      }
    }
  }
  .product-history-section {
    .row {
      .product-history {
        .swiper-wrapper {
          .swiper-slide {
            .product-card {
              .product-card-body {
                .cellular-tower-maintenance {
                  font-size: 39px;
                }
              }
            }
          }
        }
      }
    }
  }
  .trusted-parteners {
    padding: 215px 0px;
    .container {
      .row {
        .trusted-partener-left {
          .content-area {
            h2 {
              font-size: 65px;
            }
          }
        }
      }
    }
  }
  .dream-furniture {
    padding: 145px 0px;
    .container {
      .dream-furniture-content {
        .content-area {
          max-width: 1378px;
          h3 {
            font-size: 65px;
          }
        }
      }
    }
  }
  .container {
    max-width: 1598px;
    padding: 0px;
  }
}
